{
  "extends": [
    "standard",
    "standard-react",
    "prettier/standard",
    "plugin:prettier/recommended",
    "plugin:tailwind/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["jsx-a11y", "react-hooks"],
  "globals": {
    "graphql": true
  }
}
